<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91469121439-5g35sdqjdngbav08ua344n7cdqbu3uid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91469121439-5g35sdqjdngbav08ua344n7cdqbu3uid</string>
	<key>API_KEY</key>
	<string>AIzaSyCqA3hZIk-I2Q8hB5RhAjBYsL4NEsoe1BQ</string>
	<key>GCM_SENDER_ID</key>
	<string>91469121439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.isecommerce.wizwid</string>
	<key>PROJECT_ID</key>
	<string>wizwid-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>wizwid-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91469121439:ios:3d63e9fd13995fddd4dfaa</string>
</dict>
</plist>